<div class="banner">
  <div class="ui segment teal inverted">
    <h2 class="ui center aligned icon header">
      <i class="chat icon"></i>
      <div class="content">
        <a href="/">plempr.</a>
        <div class="sub header">plemp something down</div>
      </div>
    </h2>
  </div>
</div>
<div class="section">
  <div class="ui three column grid">
    <div class="column"></div>
    <div class="column">
      <div class="ui centered padded compact raised segment">
        <h3>Sign Up or Sign In</h3>
        <div class="ui divider"></div>
        [TODO : Login Form goes here]
      </div>
    </div>
    <div class="column"></div>
  </div>
</div>
