.banner a {
  color: #fff;
}

.centered {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 30px !important;
}

.section {
  margin-top: 30px;
}

.menu {
  border-radius: 0 !important;
}

.note {
  font-size: 11px;
  color: #2185D0;
}

#chat-content {
  height: 90%;
  overflow-y: scroll;
}

#post-field {
  width: 50%;
}

#validation {
  display: inline-block;
  line-height: 38px;
  padding-left: 10px;
}

#add-button {
  width: 30%;
}

.play-button {
  width: 50px;
  height: 50px;
  background-color: green;
}
